.feedback-form {
  margin-top: 56px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.feedback-form__offer {
  height: 160px;
  background-image: url("../../img/main-mobile-decor-element.svg"), url("../../img/background-form@1x.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center top;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/main-mobile-decor-element.svg"), url("../../img/background-form@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 300px;
    background-image: url("../../img/main-tablet-decor-element.svg"), url("../../img/background-form-desktop@1x.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/main-tablet-decor-element.svg"), url("../../img/background-form-desktop@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/main-desktop-decor-element.svg"), url("../../img/background-form-desktop@1x.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/main-desktop-decor-element.svg"), url("../../img/background-form-desktop@2x.jpg");
  }
}

.feedback-form-city-name {
  margin-top: 53px;
  width: 230px;
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    margin-top: 90px;
  }
}

.feedback-form__slogan {
  text-align: center;
  margin-top: 36px;
  padding: 0 27px 16px 27px;
  border-bottom: 1px solid $space-grey;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    border: none;
    padding-bottom: 0;
  }
}

.feedback-form__title {
  @include title;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }
}

.feedback-form__title--big-size {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.feedback-form__description {
  @include description;
  color: $dark-grey;
  max-width: 435px;
  margin: 0 auto;
}
