.main-footer {
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__link {
  text-decoration: none;
}

.main-footer__link__site-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.main-footer__social-list {
  display: flex;
}

.main-footer__social-item:not(:last-child) {
  margin-right: 6px;
}

.main-footer__developer {
  display: flex;
  align-items: center;
}

.main-footer__developer-description {
  margin-right: 13px;
}
