.video-presentation__slogan {
  text-align: center;
}
.video-presentation__title {
  margin-bottom: 40px;
}

.video-presentation__description {
  padding: 0 20px;
}

.video-presentation__player {
  text-align: center;
}

.video-presentation__video-bar {
  position: relative;
  margin-top: -50px;

  @media (min-width: $tablet-width) {
    margin-top: -97px;
  }
}

.video-presentation__range-control {
  width: 280px;
  height: 45px;
  background-color: $shadow-black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video-presentation__scale {
  width: 220px;
  height: 3px;
  background-color: $shadow-grey;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 389px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.video-presentation__bar {
  width: 13px;
  height: 13px;
  background-color: $basic-white;
  position: absolute;
  left: 10%;
  top: -5px;
  border-radius: 50%;
}

.video-presentation__button-bar {
  width: 280px;
  height: 66px;
  background-color: $light-grey;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  @media (min-width: $tablet-width) {
    width: 648px;
    background: none;
    position: absolute;
    left: 28px;
    top: 13px;
    grid-template-columns: 92px auto 92px 92px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    left: 120px;
  }
}

.video-presentation__subtitles {
  grid-column: 3/4;
  justify-self: end;
  margin-right: 5px;
}
